@font-face {
  font-family: 'Panton Regular';
  src: url('../fonts/Panton-Regular.woff'), format('woff'),
    url('../fonts/Panton-Regular.woff2'), format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton Semi-Bold';
  src: url('../fonts/Panton-SemiBold.woff'), format('woff'),
    url('../fonts/Panton-SemiBold.woff2'), format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton Bold';
  src: url('../fonts/Panton-Bold.woff'), format('woff'),
    url('../fonts/Panton-Bold.woff2'), format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}